.App, .centre {
  text-align: center;
}

.App-header {
  background-color: #67ff56;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333333 !important;
  overflow-x: hidden;
}

.navbar {
  background-color: #001695 !important;
}

.nav-item:not(:first-child) {
  margin-left: 50px !important;
}

.nav-link {
  color: white !important;
}

h1, h2, h3, h4 {
  margin-top: 50px !important;
  font-weight: bold !important;
  color: #00004e !important; 
}

.card.homeCard {
  background-color: #67ff56;
  border: none;
  align-items: center;
}

h2.results {
  margin-top: 30px !important;
}

p {
  padding-left: 7rem;
  padding-right: 7rem;
  line-height: 2.5rem;
  color: #00004e !important; 
}

input[type="radio"] {
  height: 25px; 
  width: 25px;
}

.error {
  margin: 0 !important;
  color: maroon !important;
}

.btn.bigButton {
  background-color: #001695;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  width: 20%;
  margin-bottom: 20px;
}

.gridContainer {
  padding: 10px;
}

.card.careerCard {
  background-color: #001695; 
  margin: 0;
  min-height: 450px;
}

.card-title.ctStyle {
  color: white;
}

p.card-text {
  font-size: 18px !important;
  color: white !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}