.App, .centre {
  text-align: center;
}

.App-header {
  background-color: mediumseagreen;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333333 !important;
  overflow-x: hidden;
}

.App-link, .App-link:visited {
  text-decoration: none;
  color: #001695;
}

button {
  background-color: #001695 !important;
}

button, h1, h2, h3, h4 {
  margin-top: 15px !important;
  font-weight: bold !important;
  color: white !important; 
}

p {
  padding-left: 7rem;
  padding-right: 7rem;
  line-height: 2.5rem;
  color: white !important; 
}

button {
  background-color: #0071bc !important;
  border: none !important;
  border-radius: 30px !important;
  color: white !important;
  font-size: 26px !important;
  font-weight: bold !important;
  text-decoration: none !important;
  width: 20% !important;
}

input[type="radio"] {
  height: 25px; 
  width: 25px;
}

#resultsButton {
  margin-bottom: 20px !important;
}